version: 0.1.{build}
#branches:
#  only:
#  - master
#only_commits:
#  files:
#  - psCheckPoint/
#  - psCheckPoint.Core/
image: Visual Studio 2017
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
configuration: Release
platform: Any CPU
before_build:
- cmd: nuget restore
build:
  verbosity: minimal
environment:
  cpSettings:
    secure: ze8KkJ0VqpFU6X2o4Y0WUS9Ki2MgwjYWhV58NlJMeyR7iH69pBB4mJv/DnhgwfOCLp+Iefih7rEz61jXfzcnrbPkLzLUWIxZLL1u4HrL7iswBcb9wXd2CqFNgJECIukRiYErehzn4GD4kjgP9PdOo/VrA4gUlgVuix46tVJF4ttRFofX3hUJEACqmk86bu4xF0/i8PFTvzcnZ5pbzrQZoYuFKXKTfym4jQN8yLXl+zxZIhbU47Ths4nBrIY7w7K7qhLzfKlVJaD+c5KcscQh1BVXiLDFmnf2TCgg197zFV8vekSBs9HzhTeeG6xufVTW4Ie39Vq6IU9Y27/JHhbYuZzihxKixsVyzHdhrdZh7fc=
  NuGetToken:
    secure: 8U0FY4Wh+zyJriYPpUsyFXTmoc+upnrqrV3+u5mEkBCttmytqIqk3hQe475ck5aJ
test_script:
- ps: |
    cd .\Pester.Tests\bin\Release
    ..\..\Invoke-Tests.ps1
    cd ..\..
    .\AppVeyor-Deploy.ps1
artifacts:
- path: psCheckPoint.zip