{
  "Management": {
    "Server": "192.168.1.1",
    "User": "admin",
    "Password": "password"
  },
  "IAGateway": {
    "Server": "192.168.1.1",
    "SharedSecret": "password"
  },
  "psCore": "C:\\Program Files\\PowerShell\\6.0.0-beta.7\\powershell.exe"
}